/* ----------------Contact page---------------- */

.contact-page-icon {
  font-size: 70px !important;
}

.contact-page-text {
  font-size: 30px !important;
  color: black;
  margin-bottom: 0;
}

.contact-page-bg {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #FDEEE3;
}

.booking-contact-button {
  background-color: #d3ebfd;
  text-decoration: none;
  width: 100%;
}

.contact-label {
  font-size: 20px;
}

input:focus::placeholder {
  color: transparent;
}

label {
  margin-right: 10px;
  margin-bottom: 0;
}

#contact-form {
  margin-top: 30px;
}

#contact-submit-button {
  margin-left: 10px;
  margin-top: 10px;
}


/* Button links hover */

#contact-phone-hover:hover span {display:none;}

#contact-phone-hover:hover {font-size: 30px;}

#contact-phone-hover:hover::before {content:"Call Us!"}

.contact-links a:link, a:visited, a:hover{
  text-decoration: none;
}

#contact-add-hover:hover span {display:none;}

#contact-add-hover:hover {font-size: 30px;}

#contact-add-hover:hover::before {
  display: block;
  content:"Find Your Way To Your Pup's Royal Santuary On Google Maps!";}
