/* ----------------footer---------------- */

#footer-container {
  background-color: #e3f2fd;
}

#footer-row {
  height: auto;
  padding: 20px 0 20px 20px;
}

#social-main {
   padding-top: 15px;
}

#social-words {
    display: block;
    font-size: 20px;
    max-height: 30px;
}

#three-social-icons {
    display: block;
}

.fa {
    font-size: 30px;
}

a { color: inherit; } 

#contact-us {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    text-align: end;
}


#address {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    text-align: end;
}