/* ----------------Jumbotron stylings---------------- */

/* jumbotron index */

#jumbo-index {
  max-width: 100%;
  min-height: 80vh;
  background-image: url(pictures/mainpagedog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  }

#jumbo-words {
  background-color: #e3f2fdB3;
  padding: 30px;
  font-size: 20px;
  max-width: 100%;
  margin: 10%;
}

#reserve-btn {
  margin-top: 20px;
}

.normal-btn {
  background-color: #e3f2fd;
  border: 1px black solid;
}

/* Jumbotron chambers */

#jumbo-chamber {
    max-width: 100%;
    min-height: 80vh;
    background-image: url(pictures/chamberjumbo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#jumbo-chamber-words {
    background-color: #e3f2fdB3;
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
    margin: 15%;
}

/* Jumbotron Facilities */

#jumbo-facilities {
    max-width: 100%;
    min-height: 80vh;
    background-image: url(pictures/facilitiescover.jpg);
    background-size: cover;
    background-position: 70% 70%;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#jumbo-facilities-words {
    background-color: #e3f2fdB3;
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
    margin: 15%;
}

/* Jumbotron Pricing */

#jumbo-prices {
    max-width: 100%;
    min-height: 80vh;
    background-image: url(pictures/pricesjumbo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#jumbo-prices-words {
    background-color: #e3f2fdB3;
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
    margin: 15%;
}

/* Jumbotron Safety */

#jumbo-safety {
    max-width: 100%;
    min-height: 80vh;
    background-image: url(pictures/safetyjumbo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#jumbo-safety-words {
    background-color: #e3f2fdB3;
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
    margin: 15%;
}

/* Contact Us Jumbotron */

#jumbo-contact {
    max-width: 100%;
    min-height: 80vh;
    background-image: url(pictures/contactjumbo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#jumbo-contact-words {
    background-color: #e3f2fdB3;
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
    margin: 15%;
}

/* Royal club jumbotron */

#jumbo-royal {
    max-width: 100%;
    min-height: 80vh;
    background-image: url(pictures/royaljumbo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#jumbo-royal-words {
    background-color: #e3f2fdB3;
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
    margin: 15%;
}