/* ----------------NavBar elements---------------- */

/* navbar logo */

.navbar img{
  max-height: 80px;
  width: auto;
}

/* navbar */
.navbar{
background-color: #e3f2fd;
}

.navbar-nav{
width: 100%;
}

#nav-space {
display: flex;
justify-content: space-around;
}


.navbar-toggler-icon {
  color: #f0ad4e;
}

#royal-border a{
color: #f0ad4e;
}

#royal-index-btn {
  color: #f0ad4e;
  background-color: black;
  border: 2px #f0ad4e solid;
}