/* ----------------Background Stylings---------------- */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#royal-main {
    background-color: black;
}

/* ----------------Font stylings---------------- */

.nav-item {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

.btn {
    font-family: 'Poppins', sans-serif;
}

.card-title {
    font-family: 'Poppins', sans-serif;
}

#social-words {
    font-family: 'Poppins', sans-serif;
}

#contact-us {
    font-family: 'Poppins', sans-serif;
}

#address {
    font-family: 'Poppins', sans-serif;
}

.lead {
    font-weight: 700;
}

/* ----------------NavBar elements---------------- */

/* navbar logo */

.navbar img{
    max-height: 80px;
    width: auto;
}

/* navbar */
.navbar{
  background-color: #e3f2fd;
}

.navbar-nav{
  width: 100%;
}

#nav-space {
  display: flex;
  justify-content: space-around;
}


.navbar-toggler-icon {
    color: #f0ad4e;
}

#royal-border a{
  color: #f0ad4e;
}

#royal-index-btn {
    color: #f0ad4e;
    background-color: black;
    border: 2px #f0ad4e solid;
}

/* ----------------Jumbotron stylings---------------- */

/* jumbotron index */

#jumbo-index {
  max-width: 100%;
  min-height: 80vh;
  background-image: url(pictures/mainpagedog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  }

#jumbo-words {
  background-color: #e3f2fdB3;
  padding: 30px;
  font-size: 20px;
  max-width: 100%;
  margin: 10%;
}

#reserve-btn {
  margin-top: 20px;
}

.normal-btn {
  background-color: #e3f2fd;
  border: 1px black solid;
}

/* Jumbotron chambers */

#jumbo-chamber {
    max-width: 100%;
    min-height: 80vh;
    background-image: url(pictures/chamberjumbo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#jumbo-chamber-words {
    background-color: #e3f2fdB3;
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
    margin: 15%;
}

/* Jumbotron Facilities */

#jumbo-facilities {
    max-width: 100%;
    min-height: 80vh;
    background-image: url(pictures/facilitiescover.jpg);
    background-size: cover;
    background-position: 70% 70%;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#jumbo-facilities-words {
    background-color: #e3f2fdB3;
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
    margin: 15%;
}

/* Jumbotron Pricing */

#jumbo-prices {
    max-width: 100%;
    min-height: 80vh;
    background-image: url(pictures/pricesjumbo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#jumbo-prices-words {
    background-color: #e3f2fdB3;
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
    margin: 15%;
}

/* Jumbotron Safety */

#jumbo-safety {
    max-width: 100%;
    min-height: 80vh;
    background-image: url(pictures/safetyjumbo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#jumbo-safety-words {
    background-color: #e3f2fdB3;
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
    margin: 15%;
}

/* Royal club jumbotron */

#jumbo-royal {
    max-width: 100%;
    min-height: 80vh;
    background-image: url(pictures/royaljumbo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#jumbo-royal-words {
    background-color: #e3f2fdB3;
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
    margin: 15%;
}

/* ----------------Showcase Cards of services---------------- */

/* Chambers cards */

.chambers-card {
    margin: 40px 20px;
}

.booking-button {
    background-color: #CBE7FB;
    /* border: 1px solid black; */
}

.card-text-background {
    background-color: #FDEEE3;
}


/* Facilities cards */

.facilities-card {
    margin: 40px 20px;
}

/* Pricing cards */

.prices-card {
    margin: 40px 20px;
}

.booking-button {
    background-color: #CBE7FB;
    /* border: 1px solid black; */
}

.card-text-background {
    background-color: #FDEEE3;
}

#prices-royal-card {
    background-color: black;
    color: #f0ad4e;
}

#pricing-booking-btn {
    background-color: #f0ad4e;
}

/* Safety cards */

.safety-card {
    margin: 40px 20px;
}

/* Royal Club cards */

.royal-card {
    margin: 40px 20px;
    color: #f0ad4e;
}

.royal-card-bg {
    background-color: black;
}

.royal-booking-btn {
    background-color: #f0ad4e;
}

/* ----------------footer---------------- */

#footer-container {
  background-color: #e3f2fd;
}

#footer-row {
  height: auto;
  padding: 20px 0 20px 20px;
}

#social-main {
   padding-top: 15px;
}

#social-words {
    display: block;
    font-size: 20px;
    max-height: 30px;
}

#three-social-icons {
    display: block;
}

.fa {
    font-size: 30px;
}


#contact-us {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    text-align: end;
}


#address {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    text-align: end;
}

/* ----------------Other Screen Sizes---------------- */

/* ipad screen and below */

@media screen and (max-width: 660px) {
  #jumbotron-btn a{
    display: block;
    margin-bottom: 20px;
  }

  #footer-row {
      align-items: center;
  }


  .fa {
      font-size: 30px;
  }

  #social-words {
      display: none;
  }



}

/* med small screen jumbotron */

@media screen and (max-width: 1100px) {
    #jumbo-words {
        background-color: #e3f2fdB3;
        padding: 30px;
        font-size: 20px;
        max-width: 100%;
    }

    #jumbo-chamber-words {
    background-color: #e3f2fdB3;
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
    }

    #jumbo-facilities-words {
    background-color: #e3f2fdB3;
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
}
}

/* large screen nav spacing */

@media screen and (min-width: 1011px) {
    .nav-item {
    display: flex;
    align-items: center;
    }

    #groom-facilities-text {
        padding-bottom: 40px !important;
    }
}

/* extra small screen */

@media screen and (max-width: 527px) {
    #contact-xs {
        display: none;
    }

    #chamber-title {
        font-size: 32px;
    }
}

/* All jumbotron descriptions in 720px and below */

@media screen and (max-width: 720px) {
    .jumbo-description {
        display: none;
    }
}