body {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 0;
}

/* navbar logo */

.navbar img{
    max-height: 80px;
    width: auto;
}

/* navbar */
.navbar{
  background-color: #e3f2fd;
}

.navbar-nav{
  width: 100%;
}

#nav-space {
  display: flex;
  justify-content: space-around;
}


.navbar-toggler-icon {
    color: #f0ad4e;
}

#royal-border a {
  color: #f0ad4e;
}

/* jumbotron */

.jumbotron {
  max-width: 100%;
  min-height: 80vh;
  background-image: url(pictures/mainpagedog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  }

#jumbo-words {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  font-size: 20px;
}

#reserve-btn {
  margin-top: 20px;
}

.normal-btn {
  background-color: #e3f2fd;
}

/* footer */

#footer-container {
  background-color: #e3f2fd;
}

#footer-row {
  height: auto;
  overflow: hidden;
  padding: 20px 0 0 20px;
}

.fa {
    font-size: 15px;
}

/* ipad screen and below */

@media screen and (max-width: 660px) {
  #jumbotron-btn a{
    display: block;
    margin-bottom: 20px;
  }
}

/* large screen nav spacing */

@media screen and (min-width: 1011px) {
    .nav-item {
    display: flex;
    align-items: center;

    }
}